<% @posts.each do |post| %>
<ul>
<li>
   <%=  post.title %>

   <%=  link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
<%= link_to "delete", post, method: :delete, data: { confirm: "You sure?"}, class: "btn btn-danger" %>
 </li>
 </ul>

<% end %>
