
<% provide(:title, "Categories") %>

<div class="row">
  <div class="col-lg-8">
	<h1><%= @category.name %></h1>
	<hr>	
	
	<% @posts.each do |post| %>

		<div class="col-sm-6 col-md-3">
   <div class="media">                      
     <div class="media-body">
     <div class="thumbnail">
    
    <strong><%= link_to post.title, post %></strong>
    
    <p><%= truncate(post.content, length: 50, separator: ''){ link_to 'Read More', post_path(post) } %></p>
    
    </div>
    </div>
    </div>
   
  </div>
		<% end %> 

		<% if (@posts.empty?) %> 
		  <p>Sorry, so far we don't have posts in this category be the first person to create one.</p>  
		  
		
		<% end %> 
		<br>
		
	</div>


	<div class="col-md-4">
	
	  <ul class="tag-cloud">  
	    <h4 align="center">Categories</h4>
	    <hr>	  
	    
           <% Category.all.each do |category| %>
           <li><%= link_to  category.name, category, class: "btn btn-default" %></li>
           <% end %>   
         </ul>  
	<hr>
		
	</div>    
           

	</div>


